html
{
    margin: 0;
    padding: 0;
}

*
{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Events */

.events-list
{
    max-width: 1230px;
    min-width: 800px;
    width: 100%;
}

.event
{
    transition: 0.5s;
    display: flex;
    background: white;
    align-items: center;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    padding: 20px 16px;
    margin-bottom: 30px;
    width: 100%;
}

.event:hover
{
    transition: 0.5s;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.info
{
    width: 100%;
    margin-right: 20px;
}

.date
{
    display: flex;
    margin-right: 40px;
    min-width: 190px;
}

.month-time
{
    display: flex;
    flex-direction: column;
}

.day
{
    margin: 0 20px;
}

.day-text
{
    font-size: 48px;
    color: #FF3F3A;
}

.month-text
{
    font-size: 20px;
    margin: 4px 0;
    color: #1E212C;
}

.date-text
{
    font-size: 16px;
    margin: 4px 0;
    color: #787A80;
}

.title-text
{
    display: block;
    font-size: 20px;
    margin: 4px 0;
    color: #1E212C;
}

.description-text
{
    font-size: 16px;
    color: #787A80;
}

/* Buttons */
.event .buttons
{
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.button
{
    cursor: pointer;
    width: 123px;
    height: 36px;
}

.button-view
{
    border: 2px solid #FF3F3A;
    border-radius: 4px;
    margin-left: auto;
    color: #FF3F3A;
    background-color: white;
}

.button-view:hover
{
    border: 0;
    transition: 0.8s;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: white;
}

.button-submit
{
    border: 0;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: white;
}

.button-add-wrapper
{
    display: flex;
    margin-bottom: 20px;
    padding: 0 60px;
}

.button-add-wrapper a
{
    display: block;
    margin-left: auto;
}

.button-add
{
    border: 0;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #238636 0%, #17be3d 100%);
    color: white;
}

/* Header */
.header
{
    display: flex;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-account
{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-account img
{
    margin-left: 10px;
    margin-right: 10px;
}

.header-account span
{
    color: #424551;
}

.header-button
{
    font-size: 15px;
    text-decoration: none;
    margin-right: 40px;
    color: #424551;
}

.header-button:hover
{
    transition: 0.5s;
    color: #FF3F3A
}

.header-account .header-button
{
    margin-right: 40px;
}

.header-button.profile-button
{
    margin-right: 10px;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
    font-size: 46px;
    color: #1E212C;
}

/* Form */
.form
{
    display: flex;
    flex-direction: column;
}

.form input,
.form select
{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
    background: white;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
}

.form button
{
    width: 500px;
    height: 50px;
    font-size: 16px;
}

.form span
{
    display: block;
    margin: 25px auto 25px auto;
}

.form a
{
    color: #7c9ab7;
    text-decoration: none;
}

/* Error */
.error
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF4242;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 20px 0;
}

.error img
{
    margin-right: 10px;
}

.error span
{
    color: #FF4242;
}

/* Profile */
.profile
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #424551;
    border-radius: 4px;
    padding: 20px;
    width: 600px;
}

.profile
{
    color: #424551;
}

.profile-info
{
    margin-bottom: 40px;
}

.data
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.data:last-of-type
{
    margin-bottom: 0;
}

.data label
{
    margin-right: 10px;
}